
  <div class="searchbar col-md-10 col-sm-12 p-2">

    <div id="filterInput" class="pagination-div">
      <button><i class="fas fa-user"></i></button>
      <button  *ngFor="let char of letters" class="pagination-div" >{{char}}</button>
    </div>

    <div class="function-div py-3 d-flex">
      <div class="search-div d-flex">
        <label>Search</label>
        <input class="nosubmit" type="search" id="searchInput" placeholder="Enter any keyword" />
        <div>
          <button class="clr-btn" onclick="clearFilter()">Clear</button>
        </div>
      </div>
      <div class="filter-btn-div">
        <label class="filterBy">Filter by</label>
        <select name="filter-by" id="filterSelect">
          <option value="firstName">First Name</option>
          <option value="lastName">Last Name</option>
          <option value="firstName">Preferred Name</option>
          <option value="jobTitle">Job Title</option>
          <option value="email">Email</option>
          <option value="office">Office</option>
          <option value="department">Department</option>
          <option value="phoneNumber">Phone Number</option>
          <option value="skypeId">Skype ID</option>
        </select>
      </div>

      <button class="add-btn" id="add-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addEmployee()">
        Add Employee
      </button>
    </div>
    <p class="note">
      <b>Note:</b> Please use advance filter option to refine your results
    </p>
    <div id="employeeCardContainer">
<app-employee-card></app-employee-card>
    </div>
  </div>