.filter ul .filter-title {
    font-weight: bold;
    font-size: .8rem;
}

.row {
    

    --bs-gutter-x: 0rem !important;
    margin-top: 0rem !important;
    margin-left: 2rem; 
    width: 12rem;

}

.sidebarTitle{
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-top: 0rem;
    padding-top: 1.5rem;
}

.listofsidebar{
    list-style: none;
  font-size: 0.75rem;
  font-weight: 400;
  color: rgb(71, 70, 70);
  margin: 0.35rem 0rem 0rem 0rem;
  padding-left:1rem !important;
  cursor:pointer;
}
.clicked{
    color:rgb(60, 0, 255)
}
.normal{
    color: black; 
}