<!-- <div #myModal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Employee</h1>
        <button type="button" class="btn-close" id="closeBtn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="!isFormSubmit">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name*</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
            <div
              *ngIf="myForm.controls['firstName'].invalid && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)"
              class="alert alert-danger">

              First Name is required.

            </div>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name*</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <div
              *ngIf="myForm.controls['lastName'].invalid && (myForm.controls['lastName'].dirty || myForm.controls['lastName'].touched)"
              class="alert alert-danger">

              Last Name is required.

            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email*</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div
              *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
              class="alert alert-danger">

              Email is required.
            </div>

          </div>
          <div class="mb-3">
            <label for="jobTitle" class="form-label">Job Title*</label>
            <input type="text" class="form-control"  id="jobTitle" formControlName="jobTitle">
            <select class="form-select" name="jobTitle" id="jobTitle" formControlName="jobTitle">
              <option *ngFor="let jobTitle of jobTitles" value={{jobTitle.id}}>{{jobTitle.name}}</option>
            </select>
            <div
              *ngIf="myForm.controls['jobTitle'].invalid && (myForm.controls['jobTitle'].dirty || myForm.controls['jobTitle'].touched)"
              class="alert alert-danger">

              Job Title is required.

            </div>
          </div>
          <div class="mb-3">
            <label for="office" class="form-label">Office*</label>
            <input type="text" class="form-control"  id="office" formControlName="office">
            <select class="form-select" name="office" id="office" formControlName="office">
              <option *ngFor="let office of offices" [value]="office.id">{{office.name}}</option>
            </select>
            <div
              *ngIf="myForm.controls['office'].invalid && (myForm.controls['office'].dirty || myForm.controls['office'].touched)"
              class="alert alert-danger">

              Office is required.

            </div>
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department*</label>
            <input type="text" class="form-control"  id="department" formControlName="department">
            <select class="form-select" name="department" id="department" formControlName="department">
              <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
            </select>
            <div
              *ngIf="myForm.controls['department'].invalid && (myForm.controls['department'].dirty || myForm.controls['department'].touched)"
              class="alert alert-danger">

              Department is required.

            </div>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number*</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
            <div
              *ngIf="myForm.controls['phone'].invalid && (myForm.controls['phone'].dirty || myForm.controls['phone'].touched)"
              class="alert alert-danger">

              Phone Number is required.

            </div>
          </div>
          <div class="mb-3">
            <label for="skypeId" class="form-label">Skype Id*</label>
            <input type="text" class="form-control" id="skypeId" formControlName="skypeId">
            <div
              *ngIf="myForm.controls['skypeId'].invalid && (myForm.controls['skypeId'].dirty || myForm.controls['skypeId'].touched)"
              class="alert alert-danger">

              Skype Id is required.

            </div>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" (click)="closeModal()"
              data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
              [disabled]="!myForm.valid">Submit</button>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="cancelEdit()" data-bs-dismiss="modal">Close</button>
        <button type="submit" onclick="AddAndEditEmployee()" id="saveChanges" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div> -->



<!-- <ng-template #myModal>
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Employee</h1>
    <button type="button" class="btn-close" id="closeBtn" (click)="closeModal()" aria-label="Close"></button>
  </div>
  <div class="modal-body"> -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="!isFormSubmit">
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name*</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
    <div
      *ngIf="myForm.controls['firstName'].invalid && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)"
      class="alert alert-danger">
      First Name is required.
    </div>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name*</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName">
    <div
      *ngIf="myForm.controls['lastName'].invalid && (myForm.controls['lastName'].dirty || myForm.controls['lastName'].touched)"
      class="alert alert-danger">

      Last Name is required.

    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email*</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div
      *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
      class="alert alert-danger">

      Email is required.
    </div>

  </div>
  <div class="mb-3">
    <label for="jobTitle" class="form-label">Job Title*</label>
    <!-- <input type="text" class="form-control"  id="jobTitle" formControlName="jobTitle"> -->
    <select class="form-select" name="jobTitle" id="jobTitle" formControlName="jobTitle">
      <option *ngFor="let jobTitle of jobTitles" value={{jobTitle.id}}>{{jobTitle.name}}</option>
    </select>
    <div
      *ngIf="myForm.controls['jobTitle'].invalid && (myForm.controls['jobTitle'].dirty || myForm.controls['jobTitle'].touched)"
      class="alert alert-danger">

      Job Title is required.

    </div>
  </div>
  <div class="mb-3">
    <label for="office" class="form-label">Office*</label>
    <!-- <input type="text" class="form-control"  id="office" formControlName="office"> -->
    <select class="form-select" name="office" id="office" formControlName="office">
      <option *ngFor="let office of offices" [value]="office.id">{{office.name}}</option>
    </select>
    <div
      *ngIf="myForm.controls['office'].invalid && (myForm.controls['office'].dirty || myForm.controls['office'].touched)"
      class="alert alert-danger">

      Office is required.

    </div>
  </div>
  <div class="mb-3">
    <label for="department" class="form-label">Department*</label>
    <!-- <input type="text" class="form-control"  id="department" formControlName="department"> -->
    <select class="form-select" name="department" id="department" formControlName="department">
      <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
    </select>
    <div
      *ngIf="myForm.controls['department'].invalid && (myForm.controls['department'].dirty || myForm.controls['department'].touched)"
      class="alert alert-danger">

      Department is required.

    </div>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number*</label>
    <input type="text" class="form-control" id="phone" formControlName="phone">
    <div
      *ngIf="myForm.controls['phone'].invalid && (myForm.controls['phone'].dirty || myForm.controls['phone'].touched)"
      class="alert alert-danger">

      Phone Number is required.

    </div>
  </div>
  <div class="mb-3">
    <label for="skypeId" class="form-label">Skype Id*</label>
    <input type="text" class="form-control" id="skypeId" formControlName="skypeId">
    <div
      *ngIf="myForm.controls['skypeId'].invalid && (myForm.controls['skypeId'].dirty || myForm.controls['skypeId'].touched)"
      class="alert alert-danger">

      Skype Id is required.

    </div>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  </div>
</form>
<!-- </div>
</ng-template> -->


<!-- button to open the ngx modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openModal(myModal)">Open Modal</button> -->