<div class="nav row pt-5">
  <div class="logo-div col-lg-2 col-md-3 col-sm-12">
    <img src="assets/image/SaketaImage.png" alt="" />
  </div>
  <div class="page-title d-flex col-lg-3 col-md-3 col-sm-12">
    <!-- <div class="d-block d-md-none">
      <button class="menu-btn" onclick="w3_open()">
        ☰
      </button>
    </div> -->
    <div class="d-flex flex-column page-title-text justify-content-end">
      <h1 class="fnt">Employee Directory</h1>
      <p class="fnt">The Ultimate People Directory Experience</p>
    </div>
  </div>
  <div class="user-info-div pe-3 col-lg-7 col-md-6 d-none d-md-block">
    <div class="d-flex align-items-end justify-content-end employeeNameContainer">
      <h2 class="m-0 fnt"><span>Welcome,</span> Andrew Philips</h2>
      <div>
        <img src="assets/image/EmployeeImage.jpg" alt="" class="employee-img" />
      </div>
    </div>
  </div>
</div>
<div class="px-5">
  <hr class="headerRow">
</div>