<div class="employee-details-div fnt">
    <div class="row" id="employeeCard"></div>
      <div class="employee-details-card d-flex p-2">
      <div class="col-3 d-flex">
        <img src="/EmployeeImg.jpg" alt="" />
      </div>
      <div class="employee-info col-9" id = "employeeCard - ${index}">
        <p class="name" id="employeeCardName-${index}"></p>
        <p id="employeeCardTitle-${employee.id}">
        <p id="employeeCardDepartment-${employee.id}"></p>
        <span *ngFor="let icon in icons" class="d-flex align-items-center">
          <i class="bi bi-{icon}-fill"></i>
        </span>
      </div>
    </div>  
  </div>
